
@model BMKT_Enterprises.Models.PodcastsModel
@{
    ViewData["Title"] = "Podcasts";
}
<h2>@ViewData["Title"]</h2>
<h3>
    @ViewData["Message"]
</h3>

<div class="row">
    <div class="col-md-3">
        <h2>Study in Europe</h2>
        <ul>
            <li>description</li>
            <li>Theming using <a href="https://localhost:44361/Projects/Podcasts">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Cameroon infos</h2>
        <ul>
            <li>description</li>
            <li>Theming using <a href="https://localhost:44361/Projects/Podcasts">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>free info</h2>
        <ul>
            <li>description</li>
            <li>Theming using <a href="https://localhost:44361/Projects/Podcasts">Bootstrap</a></li>
        </ul>
    </div>
</div>

